[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[dev-packages]
ipdb = "*"

[packages]
torch = "==0.4.0"
numpy = "*"
tqdm = "*"
visdom = "*"
torchtext = {editable = true, git = "https://github.com/pytorch/text.git"}
revtok = "*"

[requires]
python_version = "3.5"
